@font-face {
  font-family: "Exo2";
  src: url('../fonts/exo2.ttf');
}

body {
    background-color:#1e1e1e;
    color: #fff;
    font-family: 'Exo2', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#particles-js {
	height: 100vh;
	width: 100%;
    position: fixed;
    z-index: -1;
}

.login-box{
  margin:0;
  margin-top: 0px;
  padding:100px 20px 10px 20px;
  background-color: rgba(30, 30, 30, .55);
  /* background-color: rgba(39, 54, 85, .55); */
  backdrop-filter: blur(3px);
  height:98vh;
}
.login-form-box{

}

/*
----------------------------
CONF PARA ANUNCIOS
----------------------------
*/

.slideshow {
    position: relative;
    height: 40vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    height: 45vh;       /* fijo relativo */
    overflow: hidden;
}

.slide h2 {
    font-size: 28px;
    line-height: 1.2;
}

.slide p {
    font-size: 18px;
    line-height: 1.3;
    max-height: 6.5em;
    overflow: hidden;
}

.slide.active {
    opacity: 1;
}

#marquee-wrapper {
    height: 100%; /* ajusta según tu diseño */
    overflow: hidden;
    position: relative;
}

#marquee-content {
    display: flex;
    flex-direction: column;
    transform: translateY(0);
}

.marquee-row {
    display: flex;
    height: 120px; /* altura fija */
    margin-bottom: 4px;
}

.marquee-item {
    flex: 1;
    padding: 2px;
}

.marquee-row {
    display: flex;
    margin-bottom: 4px;
    height: 120px; /* FILA FIJA */
    visibility: visible;
    transition: opacity 0.3s;
}

.marquee-row.hidden {
    visibility: hidden;
    opacity: 0;
}


.marquee-item .card {
    height: 100%;
}


.codigo-anuncio {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.1;
    color: #003366;
}

.titulo-anuncio-marquee {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    color: #000;
}

.descripcion-anuncio-marquee {
    font-size: 10px;
    line-height: 1.2;
    max-height: 4.8em;  /* 2 líneas */
    overflow: hidden;
    color: #333;
}

.ref-anuncio-marquee {
    font-size: 10px;
    line-height: 1.1;
    font-weight: bold;
    color: #0055cc;
}

.gutter-xs {
    padding: 1px;
    
}

.pk-2 {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
}

.card{
    border:1px solid #444;
}


.fade-in {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}